@media screen and (max-width: 1009px) {
    .menu {
        margin-top: 25px;
    }
}

@media screen and (max-width: 967px) {
    .item, .person {
        width: calc(100% / 2 - (var(--offset) * 2));
    }
}

@media screen and (max-width: 844px) {
    .elem {
        width: calc(100% / 1 - (var(--offset) * 2));

    }
}

@media screen and (max-width: 718px) {
    .logo, nav {
        width: calc(100% / 1 - (var(--offset) * 2));
    }

    .logo {
        justify-content: center;
    }

    .menu {
        flex-direction: column;
        align-content: center;
    }

    .menu li {
        margin-bottom: 15px;
    }

    .menu li:last-child {
        margin-bottom: 0;
    }

    footer {
        padding: 0 0 30px 0;
    } 

    .footer__logo, .footer__social-links ul {
        justify-content: center;
    }

    .footer__logo, .footer__social-links {
        margin-top: 15px;
        width: calc(100% / 1 - (var(--offset) * 2));
    }
}

@media screen and (max-width: 660px) {
    .item, .person {
        width: calc(100% / 1 - (var(--offset) * 2));
    }

    .item h4 {
        text-align: center;
    }

    .how-we-work {
        background-image: none;
        background-color: rgba(0, 0, 0, .8);
    }

    .how-we-work::before {
        display: none;
    }

    .testimonials {
        padding-bottom: 50px;
    }

    .person .wrapper-img {
        margin: 0 auto;
    }

    .elem h4, .person h4, .person h4 + p {
        text-align: center;
    }
}
