/* ************** HEADER ****************** */

header {
    padding: 25px 0;
    box-shadow: 0.5px 0.5px 10px rgb(209, 209, 209);
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
}

.logo img {
    align-self: center;
}

.logo__company-name {
    font-family: var(--secondary-font);
    font-size: var(--secondary-headers);
    color: black;
    align-self: center;
    margin: 0 5px;
}

.logo__company-phrase {
    font-size: calc(var(--text-size) * 0.7);
    text-transform: uppercase;
    align-self: flex-end;
}

.menu {
    list-style: none;
    font-size: var(--text-size);
}

.menu li {
    display: flex;
}

.menu a {
    display: block;
    text-decoration: none;
}

.drop-down::after {
    font-family: FontAwesome;
    content: "\f078";
    color: var(--primary-color);
    margin-left: 5px;
    cursor: pointer;
}

.logo__company-phrase, .menu a, .search {
    color: var(--secondary-color);
}

.menu a:hover, .search:hover {
    color: var(--primary-color);
}

/* ************** Services ****************** */

.services {
    text-align: center;
    padding: 100px 0 0 0;
}

.services h2 {
    margin-bottom: 55px;
}

.services h4 {
    margin-bottom: 45px;
}

/* ************** Strengths ****************** */

.strengths {
    padding: 0 0 100px 0;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 3 - (var(--offset) * 2));
    margin-top: 75px;
}

.item img {
    align-self: center;
    width: 120px;
    margin-bottom: 30px;
}

.item p {
    margin-top: 30px;
}

.item .btn {
    align-self: center;
    margin-top: 40px;
    padding: 15px 55px;
    border-radius: 40px;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
}

.item p, .item .btn {
    font-size: var(--text-size);
}

/* ************** How we work ****************** */

.how-we-work {
    background-image: url('../../img/how-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.how-we-work .container {
    position: relative;
    z-index: 10;
}

.how-we-work::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    z-index: 1;
}

.how-we-work h2 {
    text-align: center;
}

.how-we-work h2, .how-we-work p {
    color: white;
}

.elem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% / 2 - (var(--offset) * 2));
    margin-top: 40px;
}

.elem h4 {
    margin-bottom: 30px;
}

.elem h4::before {
    font-family: FontAwesome;
    content: "\f00c";
    font-size: 42px;
    color: var(--primary-color);
    margin-right: 15px;
}

/* ************** Testimonials ****************** */

.testimonials h2 {
    text-align: center;
}

.person {
    width: calc(100% / 3 - (var(--offset) * 2));
    margin-top: 75px;
}

.person div + p::before {
    font-family: FontAwesome;
    content: "\f00c";
    font-size: 42px;
    color: var(--primary-color);
    margin-right: 15px;
}

.person .wrapper-img {
    margin-bottom: 45px;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
}

.person h4 {
    margin: 30px 0 15px 0;
}

/* ************** Footer ****************** */

footer {
    padding: 0 0 70px 0;
}

.center {
    justify-content: center;
}

.footer__logo {
    display: flex;
}

footer img {
    width: 28px;
}

.footer-logo-text {
    font-size: var(--small-text);
    color: var(--secondary-color);
    align-self: center;
    margin-left: 15px;
}

.footer__social-links {
    align-self: center;
}

.footer-icon {
    color: var(--secondary-color);
}

.footer-icon:hover {
    color: var(--primary-color);
}